<launch>
	<node pkg="joy" type="joy_node" name="Joy" output="screen"/>
	<node pkg="h4r_x52_joyext" type="x52_joyext_node" name="x52" output="screen" />
	<include file="$(find h4r_x52_joyext)/launch/single_examples/mfd_writer_print_string.launch" />
	<include file="$(find h4r_x52_joyext)/launch/single_examples/mfd_writer_print_value.launch" />
	<include file="$(find h4r_x52_joyext)/launch/single_examples/value2button_E_xample.launch" />
</launch>